div.form-content.form-sort-list
      
    form(method='POST' action='/bookmarks/list/:id')
        div.form-group
            label(for='list_sort') Sort Videos By...
            select(name='list_sort' class='list-sort_dropdown')
                option(value='lists_videos.date_added DESC') Date Added to List (new - old) (Default)
                option(value='lists_videos.date_added ASC') Date Added to List (old - new)
                option(value="author_name ASC") Creator Username (A - Z)
                option(value="author_name DESC") Creator Username (Z - A)
                option(value="videos.date_added ASC") Date Added to TikTok (old - new)
                option(value="videos.date_added DESC") Date Added to TikTok (new - old)
                option(value="title ASC") Video Description (A - Z)
                option(value="title DESC") Video Description (Z - A)
            input(type='hidden' value=data.current_list['id'] name='list_sort_id')
            button(type='submit', class='form-button') Sort Videos
        if errors
            ul
            for error in errors
                li!= error.msg
