div.form-content.form-add-video
      
    form(method='POST' action='./add-video')
        div.form-group
            label(for='video_url')
            input#video_url.form-control(type='text', placeholder='TikTok URL' name='video_url' value=(undefined===video ? '' : video.name))
            br
            button(type='submit', class='form-button') Add Video
        if errors
            ul
            for error in errors
<<<<<<< HEAD
                li!= error.msg
=======
                li!= error.msg
>>>>>>> 0ff2056f8fb7058d6b73d4e196048b71aec729cf
