div.form-content.form-add-list
      
    form(method='POST' action='./bookmarks/list/create')
        div.form-group
            label(for='list_name')
            input#video_url.form-control(type='text', placeholder='List name' name='list_name' value=(undefined===list ? '' : list.name))
            button(type='submit', class='form-button') Add List
        if errors
            ul
            for error in errors
                li!= error.msg