extends header
block layout

    form(method='POST' action='/forgot-password')
        div.form-group.forgot-password-form
            label(for='email') Email:
            input(type='email', name='email', required).forgot-password-form_input
            button(type='submit', class='form-button') Reset Password

    p.switch-login-method
        a(href='login', class='switch-login-method_link') Return to Login
    
    p.switch-login-method
        if message
            span !{message}
        if messages
            span !{messages}