doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/../stylesheets/style.css')
    script(src='/../javascripts/tiktok.js', type='module')
  body
    div.header
      h1
        a(href="/", class='header_link') TikTok Favorites

    block layout
