extends layout
include mixins/pages
include mixins/tiktokContainer

block content

    .tiktok-popup
      p.tiktok-popup_close
        a(href='#', class='popup_close-link')
          span.material-icons close
      .tiktok-popup_video
      p.tiktok-popup_link

    div.content
      if error
        p.content_info Error getting dynamic content.
      else
        if data.current_list.videos.length === 1
          p.content_info #[strong 1] video in #[strong !{data.current_list.name}]
        else
          p.content_info #[strong !{data.video_count['videos'].length}] videos in #[strong !{data.current_list.name}]
            if data.previous_page != undefined
              br
              a(href=data.previous_page, class='content_info-link') Back

        +tiktokContainer(data.current_list.videos)

        +pages(data.video_count['videos'].length/data.video_limit)