extends layout

block content
    h1= title

    ul
        each list in list_list
<<<<<<< HEAD
            li !{list.name}
=======
            li !{list.name}
>>>>>>> 0ff2056f8fb7058d6b73d4e196048b71aec729cf
