extends layout
include mixins/pages
include mixins/tiktokContainer

block content

    .tiktok-popup
      p.tiktok-popup_close
        a(href='#', class='popup_close-link')
          span.material-icons close
      .tiktok-popup_video
      p.tiktok-popup_link

    div.content
      if error
        p.content_info Error getting dynamic content.
      else
        if data.count_videos === 1
          p.content_info #[strong 1] video in #[strong !{data.current_list['name']}]
        else
          p.content_info #[strong !{data.count_videos}] videos in #[strong !{data.current_list['name']}]
            if data.pagination['previous_page'] != undefined
              br
              a(href=data.pagination['previous_page'], class='content_info-link') Back

        +tiktokContainer(data.get_videos)
        +pages(data.count_videos/data.pagination['video_limit'])