form(method='POST' action='/../bookmarks/video/multi-add' enctype='multipart/form-data')
    div.form-group
        label(for='like_list') Upload Your Like List 
            a(href='#' class='multiadd_help-link')
                span.material-icons help
            br
            input.form-control(type='file', name='like_list', required)
            br
            button(type='submit') Upload List
        if errors
            ul
            for error in errors
                    li!= error.msg

.multiadd_help-info
    h2 How Do I Add Multiple Videos Simultaneously?
    p TikTok stores all of your data, including links to all of the videos you have liked. You can download this data as a ZIP file and upload the text file that holds all of these URLs (and the date you liked the video).
    ol
        li Open your TikTok
        li In the bottom right-hand corner, select "Me"
        li In the top left-hand corner, select the three dots ("...")
        li Under "Account," select "Privacy and safety"
        li Under "Personalization and data," select "Personalization and data"
        li Select "Download your data"
        li Select "Request data file"
        li In the top right, select the "Download data" tab. When your data file is ready, it will appear here. Data requests are not instantly processed and can take up to 30 days to appear.
        li When the file is ready, return to the "Download data" tab and download your data
        li After logging into the app in your browser, you will be able to download a ZIP file with your data.
        li Open the ZIP file and find the file "Like List.txt"
        li Upload this file to the app and watch your favorite videos appear!

    a(href='#' class='multiadd_help-info-close') (View Less)
