extends header
block layout

    form(method='POST' action='')
        div.form-group.reset-password-form
            label(for='password') New Password:
            input(type='password', name='password', required, minlength='6', maxlength='100').reset-password-form_input
            button(type='submit', class='form-button') Reset Password

    p.switch-login-method
        a(href='login', class='switch-login-method_link') Login

    if (messages)
      p=messages
