div.form-content.form-sort-video
      
    form(method='POST' action='')
        div.form-group
            label(for='video_sort') Sort Videos By...
            select(name='video_sort' class='video-sort_dropdown')
                option(value="['author_name', 'descending']") Creator Username (A - Z)
                option(value="['author_name', 'ascending']") Creator Username (Z - A)
                option(value="['date', 'descending']") Date Added (new - old)
                option(value="['date', 'ascending']") Date Added (old - new)
                option(value="['title', 'descending']") Video Description (A - Z)
                option(value="['title', 'ascending']") Video Description (Z - A)
            button(type='submit', class='form-button') Sort Videos
        if errors
            ul
            for error in errors
<<<<<<< HEAD
                li!= error.msg
=======
                li!= error.msg
>>>>>>> 0ff2056f8fb7058d6b73d4e196048b71aec729cf
