extends layout/header
include layout/mixins/navigation
include mixins/forms/userAccount
block layout

div.user-account

    header(class='user-account__header account-details')

      h2(class='account-details__header') Account Details

      p.account-details__stats
        | #[strong Username]: !{data.get_user_info.username}
        br
        | #[strong Member Since]: !{data.get_user_info.created_at}

      button(type='button' id='hide-user-account' class='button--link user-account__return-button') (Return to Videos)

    +userAccountForm('Change Username', '/../bookmarks/user/change-username',
    {name: 'new_username', type: 'text', placeholder: data.get_user_info.username, minlength: '3', maxLength: '100'})

    +userAccountForm('Change Password', '/../bookmarks/user/change-password',
    {name: 'old_password', label: 'Current Password:', type: 'password'},
    {name: 'new_password', label: 'New Password:', type: 'password', minlength: '6', maxLength: '100'})

    +userAccountForm('Delete Account', '/../bookmarks/user/delete-account',
    {name: 'email', label: 'Enter Email to Confirm Deletion:', type: 'email', maxLength: '256'})
    p #[strong Warning:] It is impossible to recover deleted accounts!
