extends layout/header
include layout/mixins/pages
include layout/mixins/tiktok-container

block layout

    .tiktok-popup
      p.tiktok-popup_close
        a(href='#', class='popup_close-link')
          span.material-icons close
      .tiktok-popup_video
      p.tiktok-popup_link

    div.content
      if error
        p.content_info Error getting dynamic content.
      else
        p.content_info Found #[strong !{data.count_videos}] videos
          br
          a(href=data.pagination['previous_page'], class='content_info-link') Back

        +tiktokContainer(data.get_videos)

        +pages(data.count_videos/data.pagination['video_limit'])