@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  margin: 0px;
  padding: 0px;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif; }

.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center; }

.navigation_list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 1rem;
  list-style-type: none; }

.stats {
  font-size: 0.85rem;
  line-height: 0.85rem;
  text-align: center; }

.navigation_link {
  color: black;
  text-shadow: 0.1rem 0.1rem #ee15d2, -0.15rem -0.15rem #69c9d0;
  text-decoration: none;
  font-size: 1.25rem; }

.navigation_link-list, .navigation_link-list--expanded {
  color: black;
  text-decoration: none;
  font-size: 1.25rem; }

.bookmark-list--hidden {
  display: none; }

.bookmark-list--shown {
  position: fixed;
  top: 5.25rem;
  left: 40%;
  width: 55%;
  max-height: 40%;
  overflow: scroll;
  background-color: #fff;
  border-left: 1px solid #ee15d2;
  border-top: 1px solid #69c9d0;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

.bookmark-list_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 1rem; }

.bookmark-list_link {
  color: #000;
  line-height: 1.5rem; }

#add-video {
  display: none; }

.navigation_search-form {
  display: grid;
  grid-template-columns: 90% 10%;
  max-width: 20vmin;
  max-height: 1rem; }

.navigation_search-button {
  padding: 0;
  border: 0px;
  background-color: black; }

.navigation_search-button .material-icons {
  font-size: 1rem;
  color: #fff; }

.popup, .tiktok-popup {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: white;
  border-left: 3px solid #ee15d2;
  border-top: 3px solid #69c9d0;
  border-right: 3px solid black;
  border-bottom: 3px solid black; }

.popup_close, .tiktok-popup_close {
  margin-top: 0;
  margin-bottom: -3%;
  text-align: right; }

.popup_message {
  padding: 3%; }

.popup_form {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5%; }

.form-button {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding: 2%; }

.form-content {
  padding: 5%;
  display: none; }

.form-add-video {
  display: none; }

.form-add-list {
  display: none; }

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%; }

.form-control {
  font-size: 1rem; }

.form_move-video {
  display: none; }

.form_delete-form {
  display: none; }

.multiadd_help-info {
  display: none; }

.tiktok-popup {
  width: 0;
  min-width: 325px;
  max-width: 605px; }

.content {
  position: fixed;
  top: 5rem;
  width: 100%;
  height: 85%;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: scroll; }

.tiktok-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.33333vmin, 1fr));
  justify-items: center; }

.tiktok-cell {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  min-width: 33.33333vmin;
  height: 59.25926vmin;
  border: 1px solid black;
  margin-bottom: 0.5rem; }

.tiktok-thumbnail, .tiktok-thumbnail:hover {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 33.33333vmin;
  height: 59.25926vmin;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.tiktok-thumbnail:hover {
  opacity: 0.5; }

.tiktok-grid {
  display: grid;
  grid-template-rows: 3fr 5fr 1fr;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 33.33333vmin;
  height: 59.25926vmin;
  color: #fff; }

.tiktok-grid_checkbox {
  text-align: right; }

.tiktok-grid_info {
  text-align: center;
  max-width: 31.33333vmin;
  margin-left: auto;
  margin-right: auto;
  line-height: 1rem;
  word-wrap: break-word;
  opacity: 0; }

.tiktok-grid_title {
  overflow: scroll;
  max-height: 14.81481vmin; }

.tiktok-grid_author {
  font-weight: bold; }

.tiktok-grid_play {
  max-width: 33.33333vmin;
  line-height: 0px;
  font-size: 3rem;
  padding-left: 0.25rem;
  color: #fff;
  text-shadow: 0.05rem 0.05rem #ee15d2, -0.05rem -0.05rem #69c9d0;
  z-index: 2; }

<<<<<<< HEAD
/*# sourceMappingURL=style.css.map */
=======
/*# sourceMappingURL=style.css.map */
>>>>>>> 0ff2056f8fb7058d6b73d4e196048b71aec729cf
