.user-account {
  display: none;
  text-align: center;
  width: 50vw;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__return-button {
    order: 1;
    margin: 0 auto;
  }

  &__toggle {
    @include unbuttonize;
    margin: 5vh auto;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}
