mixin popupContainer(pageType)
  .popup
    p.popup_close
      a(href='#', class='popup_close-link')
        span.material-icons close
    p.popup_message
    form.popup_form
      if pageType.list
        button(class='popup_form-confirm form-button') Confirm
        button(class='popup_form-cancel form-button') Cancel
      if pageType.allVideos
        select(name='move_destination', class='form_move-video')
        each list in data.get_lists
          option(value=`${list.list_id}`).form_move-video-option !{list.name}
        button(class='popup_form-confirm form-button') Confirm
    if pageType.list
      include ../../add-video-to-list
      include ../../edit-list
      include ../../sort-list
    if pageType.allVideos
      include ../../add-video
      include ../../add-list
      include ../../sort-video
